/*
 *
 * This partial file contains variables that hold different values. These variables will help us be less
 * redundant when writing SCSS code.
 *
 *
*/

// Color-related vars
$primary_color: #404040;
$nav_current_color: #CCCCCC;
$border_color: #F4F4F4;